body {
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    color: #463cdf;
    margin: 0;
}

.navbar {
    background-color: #463cdf !important;
}
.navbar .nav-link {
    color: #fff;
}

header {
    flex: 0 80px;
    background-color: #8db7fa;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: #8db7fa;
    padding: 10px;
}

.arrow-row {
  display: flex;
  justify-content: center;
  gap: 0.25vw;
  margin-bottom: 0.5vw;
}

.arrow {
  width: 40px;             
  height: 40px;            
  font-size: 24px;         
  font-weight: bold;        
  text-align: center;
  border: none; 
  color: yellow;
  cursor: pointer;
}


.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2vw;
  padding: 1vw;
  background: #0055a4;
  border-radius: 15px;
  width: min(80vw, 500px);
  margin: 1 auto;
}


.row {
  display: flex;
  justify-content: center;
  gap: 0.25vw;
}

.cell {
  width: 40px;;
  aspect-ratio: 1 / 1;
  background: white;
  border-radius: 50%;
  margin: 5px;
}

.error-message {
  color: red;
  margin-top: 1rem;
  font-weight: bold;
}

.number-fact {
  margin: 0 auto;
  padding: 30px;
  color: white;
  text-align: center;

}

.win-message {
  color: gold;
  align-items: center;
  text-align: center;
}

footer {
    flex: 0 30px;
    background-color: #8db7fa;
}

/* .color-choices {
    background-color: #8db7fa;
    height: 100%;
} */