body {
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    color: #463cdf;
    /* min-width: 375px;
    min-height: 100vh; */
    margin: 0;
}

.navbar {
    background-color: #463cdf !important;
}
.navbar .nav-link {
    color: #fff;
}

header {
    flex: 0 80px;
    background-color: #8db7fa;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: #8db7fa;
    padding: 2rem;
}


.game-board {
    display: flex;
    flex-direction: column;
    background-color: #1a1cad;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.row {
    display: flex;
    flex: 1;
    gap: 0.5vw;
}

.cell {
    flex: 1;
    max-width: 40px;
    max-height: 40px;
    aspect-ratio: 1 / 1;
    background: white;
    border-radius: 50%;
}

button {
    padding: 0.75rem;
    margin: 0.5rem;
}

footer {
    flex: 0 30px;
    background-color: #8db7fa;
}